{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    {% if site.twitter.username %}
      <li><a href="https://twitter.com/{{ site.twitter.username }}"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
    {% endif %}
    {% if site.facebook.username %}
      <li><a href="https://facebook.com/{{ site.facebook.username }}"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="http://github.com/{{ site.author.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="fa fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
  </ul>
</div>

<footer class="page__footer" style="position:relative;">


  <!-- 3-D Globe：固定 90 px，绝对定位到页脚右下 -->
  <div style="
        position:absolute;       /* 不参与页面排版 */
        right:12px; bottom:8px; /* 贴紧页脚右下，可按需微调 */
        width:30px; height:30px; /* 想更小就改这两行 */
        overflow:hidden;         /* 防止脚本插入的 400px Canvas 外溢 */
        z-index:10;">
    <script async
      <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=uaTU96Q29Dd3dVWAFIO9Sjv0CHXXRZRtB7d1FGlevTk&cl=ffffff&w=a"></script>
  </script>
  </div>

</footer>

